<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sangmiMapper">

 <resultMap id="enrollResultSet" type="com.s5.sand5rang.sangmi.vo.Enroll">
   <result column="ENR_NO" property="enrNo" />
   <result column="STORE_NAME" property="storeName" />
   <result column="ENROLL_ADD" property="enrollAdd" />
   <result column="EMAIL" property="email" />
   <result column="PHONE" property="phone" />
   <result column="TITLE" property="title" />
   <result column="CONTENT" property="content" />
   <result column="STATUS" property="status" />
 </resultMap>

 <resultMap id="storeResultSet" type="com.s5.sand5rang.sein.vo.Store">
  <result column="STORE_ID" property="storeId" />
  <result column="STORE_PWD" property="storePwd" />
  <result column="STORE_NAME" property="storeName"/>
  <result column="ADDRESS" property="address" />
  <result column="STATUS" property="status" /> 
   <result column="EMAIL" property="email" />
   <result column="PHONE" property="phone" />
   <result column="ENR_NO" property="enrNo"/>
 </resultMap>
 
 <resultMap id="inqueryResultSet" type="com.s5.sand5rang.sangmi.vo.Inquery">
   <result column="INQ_NO" property="inqNo" />
   <result column="INQ_TITLE" property="inqTitle" />
   <result column="INQ_DATE" property="inqDate" />
   <result column="INQ_QUERY" property="inqQuery" />
   <result column="INQ_ANSWER" property="inqAnswer" />
   <result column="STATUS" property="status" />
   <result column="ANS_DATE" property="ansDate" />
   <result column="CATEGORY" property="category" />
   <result column="STORE_ID" property="storeId" />
   
   <result column="STORE_NAME" property="storeName" />
 </resultMap>
 
 	<!--=======관리자==========-->
 <!-- 게시글 총 갯수 조회 -->
 <select id="selectListCount1" resultType="_int">
  SELECT COUNT(*)
  FROM STORE
  WHERE STATUS = 'Y' 
 </select>
 <!--가맹점 전체리스트 조회-->
  <select id="storeList" resultMap="storeResultSet">
	 SELECT S.STORE_NAME, S.STORE_ID, S.ADDRESS, E.PHONE, E.EMAIL, ENR_NO
	 FROM STORE S 
	 JOIN ENROLL E USING(ENR_NO)
	 WHERE S.STATUS = 'Y'
  </select>
  
  <!-- 폐업 버튼 -> 삭제 -->
   <update id="storeclose" parameterType="_int">
    UPDATE STORE
       SET STATUS = 'N'
      WHERE ENR_NO = #{enrNo} 
   </update>
   
 <!-- 가맹 가입 게시글 총 갯수 조회 -->
 <select id="selectListCount3" resultType="_int">
  SELECT COUNT(*)
  FROM ENROLL
  WHERE STATUS = 'B'
 </select>   
   
   
<!--가맹가입신청 list 조회  -->

<select id="storeEnrollList" parameterType="com.s5.sand5rang.sangmi.vo.Enroll" resultMap="enrollResultSet">
 SELECT ENR_NO,STORE_NAME, PHONE, EMAIL, ENROLL_ADD, STATUS 
 FROM ENROLL
 WHERE STATUS = 'B'
 ORDER BY ENR_NO DESC 
</select>



<!-- 가맹가입신청 상세페이지 -->
<select id="selectEnroll" parameterType="_int" resultMap="enrollResultSet">
SELECT ENR_NO, STORE_NAME, PHONE, EMAIL, ENROLL_ADD, TITLE, CONTENT
FROM ENROLL
WHERE ENR_NO = #{enrNo}
</select>

<!-- 가맹가입 폼 insert -->
  <insert id="insertStore" parameterType="com.s5.sand5rang.sein.vo.Store">
   INSERT INTO STORE( ENR_NO
                     , STORE_NAME
                     , STORE_ID
                     , STORE_PWD
                     , ADDRESS) 
	VALUES( #{enrNo}
	     , #{storeName}
         , #{storeId}
         , #{storePwd}
         , #{address}) 
   </insert>

<!-- 아이디 체크 -->
<select id="idCheck" parameterType="string" resultType="_int">
     SELECT COUNT(*)
     FROM STORE
     WHERE STORE_ID = #{checkId}
 </select>
 
 <!--가맹가입 승인버튼 누르면  상태값 바꾸기 -->
 
  <update id="updateEnroll" parameterType="com.s5.sand5rang.sangmi.vo.Enroll">
   UPDATE ENROLL 
   SET STATUS = 'Y'
   WHERE ENR_NO = #{enrNo}
  </update>
  

  
  
<!-- 반려버튼=> 반려 상태 n로 하기 -->
  
 <update id="referStore" parameterType="_int">
UPDATE ENROLL
SET STATUS = 'N'
WHERE ENR_NO = #{enrNo}
 </update>


<!--=======가맹주==========-->
<!-- 게시글 총 갯수 조회 -->
 <select id="selectListCount2" resultType="_int">
  SELECT COUNT(*)
  FROM INQUERY
  WHERE STORE_ID = #{storeId}
 </select>

<!-- 문의 전체 리스트 조회 -->
<select id="inqueryList" parameterType="com.s5.sand5rang.sangmi.vo.Inquery" resultMap="inqueryResultSet">
SELECT I.INQ_NO,I.INQ_TITLE, TO_CHAR(INQ_DATE, 'YY.MM.DD') "INQ_DATE" 
      , TO_CHAR(ANS_DATE, 'YY.MM.DD') "ANS_DATE"
       , I.CATEGORY, I.STORE_ID, S.STORE_NAME
FROM INQUERY I
JOIN STORE S ON(I.STORE_ID=S.STORE_ID)
WHERE I.STORE_ID = #{storeId}
ORDER BY INQ_NO DESC
</select>

<!-- 문의글 폼 셀렉트 -->
<select id="selectInsert" parameterType="com.s5.sand5rang.sangmi.vo.Inquery" resultType="string">
    SELECT DISTINCT STORE_ID
    FROM STORE
    WHERE STORE_ID = #{storeId}
</select>
<!-- 문의글 작성하기 -->
<insert id="inqueryInsert" parameterType="com.s5.sand5rang.sangmi.vo.Inquery">
INSERT INTO INQUERY(INQ_NO
                  , INQ_TITLE
                  , INQ_QUERY
                  , CATEGORY
                  , STORE_ID)
 VALUES ( SEQ_INQNO.NEXTVAL
          , #{inqTitle}
          , #{inqQuery}
          , #{category}
          , #{storeId})  
</insert>



<!--문의글 상세 조회 -->
<select id="selectInquery" parameterType="_int" resultMap="inqueryResultSet">
SELECT INQ_NO,INQ_TITLE, INQ_QUERY, INQ_ANSWER, CATEGORY, STORE_NAME, TO_CHAR(INQ_DATE, 'YY.MM.DD') "INQ_DATE", TO_CHAR(ANS_DATE, 'YY.MM.DD') "ANS_DATE"
FROM INQUERY I
JOIN STORE S ON(I.STORE_ID=S.STORE_ID)
WHERE INQ_NO = #{inqNo}
</select>

<!-- 문의글 수정 -->
<update id="inupdate" parameterType="com.s5.sand5rang.sangmi.vo.Inquery">
UPDATE INQUERY 
SET INQ_TITLE = #{inqTitle}
      , INQ_DATE=SYSDATE
      , CATEGORY = #{category}
      , INQ_QUERY = #{inqQuery}
WHERE INQ_NO = #{inqNo}
</update>




</mapper>
